body {
  background-image: url('imagenes/fondo3.jpg'); 
  /*background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
}

.encabezado {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  margin: 3rem 3rem;
  font-family:'Croissant One', cursive;
}

.encabezados {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  margin: 3rem 3rem;
  font-family:'Croissant One', cursive;
  border-top: 1px solid #e1e1e1;
  padding-top: 5rem;

}

h3 {
  color: white;
  text-align: center;
  font-family: raleway;
  
}


/*equipos en grid*/

.topequipos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  column-gap: 2rem;
  row-gap: 3rem;
  font-family: raleway;
}

@media (max-width: 900px) {
  .topequipos {
    grid-template-columns: repeat(2, 1fr);
  }
  .carousel-control-prev, .carousel-control-next {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media (max-width: 660px) {
  .topequipos {
    grid-template-columns: repeat(1, 1fr);
  }
  .carousel-control-prev, .carousel-control-next {
      margin-top: 150px;
  }

}

.listado {
  background-color: rgb(21, 16, 102);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: 33rem;
}
.listado:nth-child(1) img {
  height: 70%;
  width: 100%;
  object-position: center;
}
.listado:nth-child(2) img {
  object-position: center;
  height: 70%;
  width: 100%;
}
.listado:nth-child(3) img {
  object-fit: cover;
  height: 70%;
  width: 100%;
}
.listado:nth-child(4) img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}
.listado:nth-child(5) img {
  object-position: center;
  height: 70%;
  width: 100%;
}
.listado:nth-child(6) img {
  object-fit: cover;
  height: 70%;
  width: 100%;
}
.listado:nth-child(7) img {
  height: 70%;
  width: 100%;
  object-position: center;
}
.listado:nth-child(8) img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  background-color: white;
}
.listado:nth-child(9) img {
  object-position: center;
  height: 70%;
  width: 100%;
}
.listado:nth-child(10) img {
  height: 70%;
  width: 100%;
  object-position: center;
}
.listado:nth-child(11) img {
  object-position: center;
  height: 70%;
  width: 100%;
}
.listado:nth-child(12) img {
  object-position: center;
  height: 70%;
  width: 100%;
}
.listado:nth-child(13) img {
    height: 70%;
    width: 100%;
    object-fit: cover;
}
.listado:nth-child(14) img {
    object-position: center;
    height: 70%;
    width: 100%;
}
.listado:nth-child(15) img {
    object-fit: cover;
    height: 70%;
    width: 100%;
}
.listado:hover {
    transform: scale(1.1);
}
.texto {
    padding: 0 2rem 1rem 2rem;
    color: white;
}

/*bootstrap*/

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-inner {
  text-align: center;
  padding-bottom: 5rem;
}

.carousel-control-prev, .carousel-control-next {
  /*background-color: rgb(21, 16, 102);*/
  color: white;
  width: 5px;
  height: 20px;
  margin-top: 200px;
}

.carousel-indicators {
  border-bottom: 0px;
  opacity: 0%;
}

