.aside{
    /* Parametros común de aside; */
    /* background-color: black; */
    text-align: center;
    padding: 50px;
    margin: 40px;
    background: linear-gradient(rgba(5,7,12,.6),rgba(5, 7, 12,.6));
}

.aside a{
    /* Margen entre logos; */
   margin-bottom: 30px;
}